<section class='community-content'>
  <span class='mobile-categories'>
    <%= render 'categories' %>
  </span>

  <div class='community-container'>
    <h1 class='all-discussions-header'>
      All discussions
    </h1>

    <% @discussions.each do |discussion| %>
      <%= render partial: 'shared/single_community_item.html.erb', locals: { discussion: discussion } %>
    <% end %>
  </div>

  <span class='desktop-categories'>
    <%= render 'categories' %>
  </span>
</section>