upstream mybema {
  server unix:///tmp/mybema.sock;
}

server {
  listen 80;
  server_name '{{ ansible_default_ipv4.address }}';
  root /home/deploy/mybema/public;

  location / {
    proxy_pass http://mybema;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  location ~ ^/assets/ {
    expires 1y;
    root /home/deploy/mybema/public;
    add_header Cache-Control public;
    add_header ETag "";
    break;
  }
}