<section class='home-search'>
  <div class='home-hero-message'>
    Welcome to the Mybema community. If you've got a question about Mybema, try finding here before contacting our customer service. You can search below or navigate via the links above. See our knowledge base for official articles written by us about the most common issues you may experience. If you don't find what you're looking for there, you can also interact with our representitives and customers by joining or starting a new discussion.
  </div>

  <%= render 'shared/search' %>
</section>

<div class='kb-wrapper'>
  <h1 class='kb-title'>
    <%= @article.title %>
  </h1>

  <div class='kb-content'>
    <%= simple_format @article.body, class: 'kb-paragraph' %>
  </div>
</end>