<nav>
  <div class='nav-wrapper'>
    <div class='logo-wrapper'>
      Mybema
    </div>

    <div class='nav--list'>
      <ul>
        <li class='nav--li'>
          <%= link_to 'Community', '#' %>
        </li>

        <li class='nav--li'>
          <%= link_to 'Docs', '#' %>
        </li>

        <li class='nav--li'>
          <%= link_to 'Contact', '#' %>
        </li>

      </ul>
    </div>
  </div>
</nav>