<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Mybema', root_path, class: 'logo-wrapper' %>

    <div class='nav--list'>
      <ul>
        <li class='nav--li'>
          <%= link_to 'Community', '#' %>
        </li>

        <li class='nav--li'>
          <%= link_to 'Docs', '#' %>
        </li>

        <li class='nav--li'>
          <%= link_to 'Contact', '#' %>
        </li>

      </ul>
    </div>
  </div>
</nav>