<%= render 'hero' %>

<section class='community-content'>
  <h1 class='btm-space'>
    Recent discussions in the community:
  </h1>

  <div>
    <% @discussions.each do |discussion| %>
      <%= render partial: 'shared/single_community_item.html.erb', locals: { discussion: discussion } %>
    <% end %>
  </div>

  <h4 class='view-all-link'>
    <%= link_to 'View all discussions', discussions_path %>
  </h4>
</section>