<div class='kb-wrapper'>
  <% @sections.each_slice(2) do |section| %>
    <section class='community-content'>
      <div class='article-wrapper'>
        <article class='single-community-item--borderless'>
          <div class='kb-description'>
            <h2 class='kb-title'>
              <%= section.first.title %>
            </h2>

            <ul class='kb-items'>
              <% section.first.articles.each do |article| %>
                <li>
                  <%= link_to article.title, article_path(article) %>
                </li>
              <% end %>
            </ul>
          </div>
        </article>
      </div>

      <% if section.size > 1 %>
        <div class='article-wrapper'>
          <article class='single-community-item--borderless'>
            <div class='kb-description'>
              <h2 class='kb-title'>
                <%= section.last.title %>
              </h2>

              <ul class='kb-items'>
                <% section.last.articles.each do |article| %>
                  <li>
                    <%= link_to article.title, article_path(article) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </article>
        </div>
      <% end %>
    </section>
  <% end %>
</end>