<section class='dashboard-container'>
  <h2>
    Community guidelines
  </h2>

  <div>
    <p class='guidelines-intro'>
      These are the contribution guidelines that your community should be adhering to. All of the guidelines you add are visible next to the discussion creation form <%= link_to 'found here', new_discussion_path %>. You can add and delete as many guidelines as you want. We'd recommend sticking between 8 and 9. All changes are reflected immediatly.
    </p>

    <%= link_to 'add guideline', new_guideline_path, class: 'admin-btn green-btn' %>
  </div>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Guidelines</th>
        <th class='ctr-txt'>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @guidelines.each do |guideline| %>
        <tr>
          <td>
            <%= guideline.name %>
          </td>

          <td class='ctr-txt'>
            <%= link_to 'delete', guideline_path(guideline), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>