<section class='dashboard-container full-height'>
  <h3 class='main-heading'>
    Settings
  </h3>

  <p class='main-description'>
    This page contains the settings that you can adjust to customize your community.
  </p>

  <section class='config-section'>
    <%= render 'hero_message' %>
  </section>
</section>