// colors

$black: #000;
$blue-cta: #446EB0;
$blue-cta-hover: #477CC0;
$dark-grey: #333;
$flash-alert: #B02D32;
$flash-notice: #C0DA6E;
$green-cta: #96BE73;
$green-cta-hover: #B4BE73;
$hero-bg: #E2E2E2;
$hero-border: #8A8A8A;
$light-grey: #DDD;
$lighter-grey: #EEE;
$medium-grey: #74747A;
$notepad-yellow: #EEDD96;
$slurm-green: #75C4A3;
$white: #FFF;

// sizes

$desktop: 768px;
$nav-height: 62px;
$search-bar-height: 40px;