.kb-wrapper {
  margin: 1em auto;
  width: 100%;
}

.kb-title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.kb-content {
  font-size: 1.2em;
  margin: 1em 1em 3em;
  text-align: justify;
}

.kb-content h1 {
  font-size: 2em;
}

.kb-content ul {
  list-style: inside disc none!important;
}

.kb-content h2 {
  font-size: 1.5em;
}

.kb-content h1,
.kb-content h2,
.kb-content h3,
.kb-content h4 {
  margin: 0.75em 0;
}

.kb-items > li {
  margin: 0.5em auto;
}

.kb-paragraph {
  margin: 1em 0;
}

.kb-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

@media only screen and (min-width: 768px) {
  .kb-wrapper {
    width: 80%;
  }

  .kb-title {
    margin-top: 0;
  }
}