.kb-wrapper {
  margin: 1em auto;
  width: 100%;
}

.kb-title {
  margin: 1em 0;
  text-align: center;
}

.kb-content {
  margin-bottom: 3em;
  margin-top: 1em;
}

.kb-paragraph {
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .kb-wrapper {
    width: 80%;
  }
}