/*---- Base styles-----*/

* {
  margin: 0;
  outline: 0;
  padding: 0;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header, section, footer, aside, nav, article, figure,
details, figcaption, figure, hgroup, menu {
  display: block;
}

html, body {
  height: 100%;
}

a {
  color: #28D;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

body {
  color: #565656;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

hr { border-color: #eee; }

input[type="submit"] {
  -webkit-appearance:none;
  -moz-appearance:none;
}

label { color: #008DDE; }

nav {
  background-color: #333;
  clear: both;
  min-height: 6em;
  list-style: none outside none;
  padding: 0.5em;
}

strong { font-weight: bold; }


.flash-notice {
  background-color: #C0DA6E;
}

.flash-alert {
  background-color: #B02D32;
  color: #FFF;
}

.non-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  a { text-decoration: none; }
  nav {
    clear: none;
    height: 4em;
    min-height: 4em;
    padding: 0;
  }

  .non-mobile {
    display: block;
  }
}