/*---- Base styles-----*/

* {
  margin: 0;
  outline: 0;
  padding: 0;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: #28D;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  color: #565656;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

header, section, footer, aside, nav, article, figure,
details, figcaption, figure, hgroup, menu {
  display: block;
}

hr {
  border-color: $lighter-grey;
}

html, body {
  height: 100%;
}

input[type="submit"] {
  -webkit-appearance:none;
  -moz-appearance:none;
}

label { color: #008DDE; }

nav {
  background-color: #333;
  clear: both;
  min-height: 6em;
  list-style: none outside none;
  padding: 0.5em;
  @media only screen and (min-width: $desktop) {
    clear: none;
    height: $nav-height;
    margin-bottom: 2px;
    min-height: $nav-height;
    padding: 0;
  }
}

strong {
  font-weight: bold;
}

/* Remove button padding in FF */
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
     padding: 0 !important;
     border: 0 none !important;
 }

#flash-notices {
  margin-top: -2px;
}

.flash-notice {
  background-color: $flash-notice;
}

.flash-alert {
  background-color: $flash-alert;
  color: $white;
}

.non-mobile {
  display: none;
  @media only screen and (min-width: $desktop) {
    display: block;
  }
}