/*---- Base styles-----*/

* {
  margin: 0;
  outline: 0;
  padding: 0;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header, section, footer, aside, nav, article, figure,
details, figcaption, figure, hgroup, menu {
  display: block;
}

html, body {
  height: 100%;
}

a {
  color: #28D;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

body {
  color: #565656;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

hr { border-color: #eee; }

label { color: #008DDE; }

nav {
  background-color: #333;
  clear: both;
  height: 6em;
  list-style: none outside none;
  padding: 0.5em;
}

strong { font-weight: bold; }

@media only screen and (min-width: 768px) {
  a { text-decoration: none; }
  nav { height: 4em; }
}