.active-category {
  background-color: rgb(115, 170, 190);
}

a > .active-category {
  color: $white;
}

.categories {
  border: 1px solid $medium-grey;
  border-radius: 3px;
  margin: 1em auto;
  @media only screen and (min-width: $desktop) {
    display: inline-block;
    margin: 0 0 0 4%;
    width: 25%;
  }
}

.categories-title {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  font-weight: bold;
}

.category-wrap {
  padding: 0.5em;
  text-align: center;
}

.category-wrap--active {
  background-color: rgb(115, 190, 180);
}

.category-wrap ul {
  list-style: none outside none;
}

.category-wrap li {
  border-radius: 3px;
  margin: 2px auto;
  padding: 0.5em;
  &:hover {
    background-color: $green-cta;
    cursor: pointer;
  }
}

.category-wrap a {
  &:active {
    background-color: rgb(115, 170, 190);
    color: $white;
    cursor: pointer;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.desktop-categories {
  display: none;
  @media only screen and (min-width: $desktop) {
    display: inline;
  }
}

.mobile-categories {
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}