@import '_extends.scss';
@import '_variables.scss';
@import 'bootstrap.min.css';
@import 'inputs.scss';
@import 'base.scss';
@import 'header.scss';
@import 'category_box.scss';
@import 'typeahead.css';

/*
*= require_self
*/

label { color: $black; }

.admin-image-upload-container {
  margin-top: 1em;
}

.admin-image-upload-wrapper {
  margin-bottom: 2em;
}

.admin-section-header {
  font-family: 'Lato', sans-serif;
  margin-top: 0;
  text-align: center;
}

.config-section--description {
  margin: 0.5em 0;
}

.clickable-row,
.clickable-row a {
  color: $black;
}

.clickable-row:hover,
.clickable-row:hover a {
  color: #28D;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-container {
  background-color: #eee;
  padding: 1em;
}

.discussion-comment {
  padding: 1em;
  margin: 1em;
  background-color: #DDD;
}

.discussion-comments-header {
  font-size: 2em;
  text-align: center;
}

.discussion-detail {
  color: #999;
  font-size: 0.75em;
}

.discussion-editor {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.discussion-warning-wrapper {
  background-color:rgb(240,130,60);
  border-radius: 3px;
  color: #333;
  margin-bottom: 0.5em;
  padding: 0.25em;
  text-align: center;
}

.flash {
  display: inline-block;
  width: 83.334%;
  margin: 0;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

.full-height {
  min-height: calc(100% - 4em);
}

.guideline-form {
  margin: 1em 0 2em 0;
}

.guidelines-intro {
  font-size: 1.15em;
}

.guidelines-form--wrapper {
  display: inline-block;
  margin-left: 1.5em;
  width: 50%;
}

.home-search--btn {
  font-size: 0.8em!important;
}

.homepage-image-header {
  margin-bottom: 0.5em;
}

.inline-avater {
  display: inline-block;
  vertical-align: middle;
}

.inline-upload-form {
  margin-left: 1em;
  display: inline-block!important;
  vertical-align: middle;
}

.main-description {
  font-size: 1.25em;
  margin: 0.5em 0;
}

.new-admin-warning--header {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 1em auto;
}

.new-admin-warning--paragraph {
  margin: 0 auto;
  width: 90%;
}

.new-admin-warning--sub-header {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.new-admin-warning--wrapper {
  font-size: 1.25em;
  margin: 2em auto;
}

.config-section--heading {
  margin: 0;
}

.manage-comment-link {
  float: right;
}

.profile-form {
  display: inline-block;
  width: 83.33%;
}

.rght-txt {
  text-align: right;
}

.config-section {
  background-color: #EAEAEA;
  border: 1px solid #777;
  border-radius: 3px;
  margin: 1em auto;
  padding: 1em;
}

.sidebar {
  background-color: #f5f5f5;
  text-align: center;
}

.table {
  margin-bottom: 0!important;
}

@media only screen and (min-width: 768px) {
  .dashboard-container {
    display: inline-block;
    width: 83.334%;
    background-color: #eee;
    padding: 1em;
    max-height: calc(100% - 4em);
    overflow: scroll;
  }

  .guidelines-intro {
    display: inline-block;
    font-size: 1.15em;
    margin: 0 5% 1em 0;
    vertical-align: top;
    width: calc(90% - 8.5em);
  }

  .sidebar {
    position: relative;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    min-height: calc(100% - 4em);
    text-align: left;
  }
}