/*
*= require bootstrap.min.css
*= require inputs.css
*= require base.css
*= require header.css
*= require category_box.css
*= require typeahead.css
*= require_self
*/

label { color: #000; }

.config-section--description {
  margin: 0.5em 0;
}

.discussion-warning-wrapper {
  background-color:rgb(240,130,60);
  border-radius: 3px;
  color: #333;
  margin-bottom: 0.5em;
  padding: 0.25em;
  text-align: center;
}

.flt-rght {
  float: right;
  clear: both;
  margin-bottom: 1em;
}

.clickable-row,
.clickable-row a {
  color: #000;
}

.clickable-row:hover,
.clickable-row:hover a {
  color: #28D;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-container {
  display: inline-block;
  width: 83.334%;
  background-color: #eee;
  padding: 1em;
  max-height: calc(100% - 4em);
  overflow: scroll;
}

.discussion-comment {
  padding: 1em;
  margin: 1em;
  background-color: #DDD;
}

.discussion-comments-header {
  font-size: 2em;
  text-align: center;
}

.discussion-detail {
  color: #999;
  font-size: 0.75em;
}

.discussion-editor {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.full-height {
  min-height: calc(100% - 4em);
}

.guideline-form {
  margin: 1em 0 2em 0;
}

.guidelines-intro {
  display: inline-block;
  font-size: 1.15em;
  margin: 0 5% 1em 0;
  vertical-align: top;
  width: calc(90% - 8.5em);
}

.guidelines-form--wrapper {
  display: inline-block;
  margin-left: 1.5em;
  width: 50%;
}

.main-description {
  font-size: 1.25em;
  margin: 0.5em 0;
}

.main-heading,
.config-section--heading {
  margin: 0;
}

.manage-comment-link {
  float: right;
}

.rght-txt {
  text-align: right;
}

.config-section {
  background-color: #EAEAEA;
  border: 1px solid #777;
  border-radius: 3px;
  margin: 1em auto;
  padding: 1em;
}

.sidebar {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  min-height: calc(100% - 4em);
}

.table {
  margin-bottom: 0!important;
}