/*
*= require bootstrap.min.css
*= require_self
*/

.admin-greenbutton {
  background-color: rgb(150,190,115);
  border-radius: 3px;
  border: 0;
  color: #FFF;
  display: inline-block;
  padding: 0 20px;
  font-size: 1em;
  line-height: 3em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 10em;
  text-align: center;
}

.admin-greenbutton:hover {
  background-color: rgb(180,190,115);
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.clickable-row,
.clickable-row a {
  color: #000;
}

.clickable-row:hover,
.clickable-row:hover a {
  color: #28D;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-container {
  display: inline-block;
  width: 83.334%;
  background-color: #eee;
  padding: 1em;
  max-height: calc(100% - 4em);
  overflow: scroll;
}

.guideline-form {
  margin: 1em 0 2em 0;
}

.guidelines-intro {
  display: inline-block;
  font-size: 1.15em;
  margin: 0 5% 1em 0;
  vertical-align: top;
  width: calc(90% - 8.5em);
}

.guidelines-form--wrapper {
  display: inline-block;
  margin-left: 1.5em;
  width: 50%;
}

.sidebar {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  min-height: calc(100% - 4em);
}

.table {
  margin-bottom: 0!important;
}