/*
*= require bootstrap.min.css
*= require_self
*/

.clickable-row,
.clickable-row a {
  color: #000;
}

.clickable-row:hover,
.clickable-row:hover a {
  color: #28D;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-container {
  display: inline-block;
  width: 83.334%;
  background-color: #eee;
  padding: 1em;
  max-height: calc(100% - 4em);
  overflow: scroll;
}

.sidebar {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  min-height: calc(100% - 4em);
}

.table {
  margin-bottom: 0!important;
}