.all-discussions-header {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  font-size: 1.2em;
  margin-bottom: 0.35em;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  text-align: center;
  @media only screen and (min-width: $desktop) {
    font-size: 1.5em;
  }
}

.discussion-paragraph {
  margin-bottom: 1em;
  font-size: 1.1em;
  display: block;
  position: relative;
}

.discussion-paragraph a {
  word-wrap: break-word;
}

.discussion-response-wrapper {
  border-radius: 2px;
  background-color: $light-grey;
  margin: 2em auto;
  width: 90%;

  @media only screen and (min-width: $desktop) {
    width: 80%;
  }
}