.admin-post {
  color: #BB3300;
  font-weight: bold;
}

.article-wrapper {
  background-color: $white;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  @media only screen and (min-width: $desktop) {
    border: 1px solid $light-grey;
    border-radius: 5px;
    margin: 0 1em;
    padding: 1em;
    width: 45%;
  }
}

.breadcrumb-wrapper {
  background-color: $medium-grey;
  border: 1px solid $medium-grey;
  border-radius: 4px 4px 0 0;
  color: $white;
  padding: 1em;
}

.breadcrumb-wrapper a {
  color: $white;
}

.comment-form--container {
  border: 2px solid $light-grey;
  display: block;
  min-height: 20em;
}

.comment-form--textarea {
  height: 10em;
  padding: 0.75em;
}

.community-container {
  @media only screen and (min-width: $desktop) {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    &:before, &:after {
      content: '';
      display: table;
      line-height: 0;
    }
  }
}

.community-content {
  margin: 1em auto;
  width: 96%;
  @media only screen and (min-width: $desktop) {
    margin: 2em auto;
    width: 80%;
  }
}

.ctr-txt {
  text-align: center;
}

.discussion-body {
  padding: 1.5em 0 0.5em;
  display: block;
  @media only screen and (min-width: $desktop) {
    padding: 0 0 1.5em 0;
  }
}

.discussion-content {
  padding: 1em;
}

.discussion-details {
  display: none;
  @media only screen and (min-width: $desktop) {
    display: block;
    font-style: italic;
    margin-right: 1em;
    padding-bottom: 1em;
  }
}

.discussion-details-mobile {
  display: inline-block;
  height: 4em;
  line-height: 4em;
  vertical-align: top;
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.discussion-details-mobile-date {
  color: $medium-grey;
  font-size: 0.75em;
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.discussion-form {
  padding: 1em 0.5em 0;
  @media only screen and (min-width: $desktop) {
    padding: 0.75em 2em 0;
  }
}

.discussion-form--cancel {
  color: #686868;
  font-weight: 700;
  margin-right: 1em;
}

.discussion-form--container {
  border: 2px solid $light-grey;
  border-top: none;
  display: block;
  min-height: 30em;
}

.discussion-form--footer {
  border-radius: 0px 0px 3px 3px;
  padding: 0 0.5em 1em 2em;
  position: relative;
  text-align: right;
  @media only screen and (min-width: $desktop) {
    padding: 0 2em 1em 2em;
  }
}

.discussion-form--header {
  background: none repeat scroll 0% 0% $slurm-green;
  border-shadow: 0px 1px 0px $white;
  border-radius: 3px 3px 0 0;
  color: $white;
  font-size: 1.5em;
  font-weight: bold;
  height: 3em;
  line-height: 1em;
  overflow: hidden;
  padding: 1em 0 1em 1em;
}

.discussion-form--input {
  border: 2px solid $light-grey;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.discussion-form--label {
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.discussion-form--short-input {
  border: 2px solid $light-grey;
  border-radius: 3px;
  display: block;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em;
  width: auto;
}

.discussion-form--textarea {
  height: 15em;
  padding: 0.75em;
}

.discussion-form--wrapper {
  margin: 1em auto;
  width: 96%;
  @media only screen and (min-width: $desktop) {
    display: inline-block;
    margin: 2em;
    width: calc(60% - 3em);
  }
}

.discussion-guidelines {
  background-color: $notepad-yellow;
  margin: 0 auto 1em;
  padding: 1em;
  width: 96%;
  @media only screen and (min-width: $desktop) {
    display: inline-block;
    margin: 2em 2em 0 0;
    vertical-align: top;
    width: calc(40% - 3.5em);
  }
}

.discussion-guidelines--header {
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.discussion-guidelines--list {
  list-style: outside disc none;
  padding: 1em;
}

.discussion-header {
  font-size: 1.5em;
}

.discussion-index-header {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  font-size: 1.2em;
  margin-bottom: 0.35em;
  padding: 0.75em 0.25em;
  text-align: center;
  @media only screen and (min-width: $desktop) {
    font-size: 1.5em;
    padding: 0.75em 0;
  }
}

.emoji-img {
  vertical-align: top;
}

.flash {
  font-weight: bold;
  margin: 0;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.home-search {
  &:after {
    clear: both;
  }
}

.join-community-wrapper {
  padding: 1em;
  text-align: center;
}

.post-content {
  text-align: justify;
  @media only screen and (min-width: $desktop) {
    display: inline-block;
    width: 80%;
  }
}

.post-item {
  &:after {
    content: '|';
  }
}

a .post-item--last {
  color: $blue-cta;
  padding: 0.25em 0;
  &:hover {
    font-weight: bold;
  }
}

.post-item, .post-item--last {
  display: inline-block;
  color: #888;
  padding: 5px 0;
  &:after {
    padding: 5px;
  }
}

.replies {
  @media only screen and (min-width: $desktop) {
    display: block;
    font-size: 0.5em;
  }
}

.search-result {
  border: 1px solid $lighter-grey;
  display: flex;
  margin: 1em auto;
}

.search-result--article {
  min-width: 6em;
}

.search-result--article-wrapper {
  background-color: rgba(192,122,12,0.15);
}

.search-result--content {
  flex: 2;
  margin-left: 0.5em;
  padding: 0.5em;
}

.search-result--discussion {
  min-width: 6em;
  padding: 0.5em;
}

.search-result--discussion-wrapper {
  background-color: rgba(40,190,40,0.15);
}

.search-result--wrapper {
  align-items: center;
  display: flex;
  text-align: center;
}

.sessions-header {
  margin: 1em auto;
}

.sessions-notice {
  margin: 2em auto;
  width: 50%;
}

.sessions-rememberable {
  margin: 0 auto 1em auto;
}

.sessions-wrapper {
  margin: 2em auto;
  text-align: center;
  width: 100%;
}

.short-field--desktop {
  width: 80%;
  @media only screen and (min-width: $desktop) {
    width: 30%;
  }
}

.single-community-item {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  color: $medium-grey;
  display: block;
  margin-bottom: 0.5em;
  padding-left: 10px;
  width: 100%;
  @media only screen and (min-width: $desktop) {
    display: flex;
    min-height: 80px;
  }
}

.single-community-item--avatar {
  display: inline-block;
  vertical-align: top;
  @media only screen and (min-width: $desktop) {
    flex: 1;
    min-width: calc(3em + 20px);
  }
}

.single-community-item--borderless {
  @media only screen and (min-width: $desktop) {
    display: block;
    border-radius: 5px;
    min-height: 80px;
    width: 100%;
  }
}

.single-community-item--comment-count {
  border-radius: 4px;
  color: #565656;
  font-weight: bold;
  text-align: center;
  @media only screen and (min-width: $desktop) {
    border-radius: 0 3px 3px 0;
    font-size: 1.5em;
    min-width: 86px;
    min-height: 100%;
    align-items: center;
    flex: 1;
    vertical-align: middle;
  }
}

.single-community-item--comment-wrapper {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  vertical-align: middle;
  @media only screen and (min-width: $desktop) {
    height: 100%;
    padding-bottom: 0;
    padding-top: 25%;
  }
}

.single-community-item--lens {
  display: none;
  @media only screen and (min-width: $desktop) {
    display: block;
    flex: 18;
    // -webkit-flex: 19;
    margin-top: 10px;
    max-width: inherit;
    padding: 0;
    width: auto;
  }
}

.single-community-item--mobile-date {
  font-size: 0.75em;
  color: $medium-grey;
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.single-community-item--mobile-name {
  display: inline-block;
  line-height: 3em;
  padding-left: 10px;
  padding-top: 10px;
  vertical-align: top;
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.single-community-item--mobile-title {
  font-size: 1.15em;
  margin: 0.5em auto;
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.single-community-item--lens h2 {
  font-size: 1.1em;
  line-height: 1.2em;
  padding: 0.1em 0 0.5em;
  text-align: center;
  @media only screen and (min-width: $desktop) {
    text-align: left;
  }
  a {
    color: #565656;
  }
}

.single-discussion {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  margin: 1em auto;
  width: 96%;
  @media only screen and (min-width: $desktop) {
    margin: 1em auto;
    width: 80%;
  }
}

.single-discussion--reply {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  margin: 1em auto;
  width: 96%;
  @media only screen and (min-width: $desktop) {
    width: 80%;
  }
}

.single-error {
  color: red;
  display: block;
  margin-bottom: 0.5em;
}

.standard-form--input {
  border: 2px solid $light-grey;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em;
}

.listed-user-avatar {
  display: inline-block;
  height: calc(3em + 10px);
  padding-top: 10px;
  vertical-align: top;
  width: 3em;
  @media only screen and (min-width: $desktop) {
    height: calc(3em + 20px);
    margin-right: 1em;
    padding-bottom: 10px;
  }
}

.user-avatar {
  display: inline;
  height: 4em;
  margin-right: 1em;
  vertical-align: top;
  width: 4em;
}

.sv-margin {
  margin: 0.5em auto;
}

.view-all-link {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
}