.view-all-link {
  text-align: center;
  margin: 2em auto;
}

.greenbutton {
  background-color: rgb(150,190,115);
  border-radius: 3px;
  border: 0;
  color: #FFF;
  display: inline-block;
  padding: 0 10px;
  font-size: 0.75em;
  line-height: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.greenbutton:hover {
  background-color: rgb(180,190,115);
  cursor: pointer;
  text-decoration: none;
}

.comment-count {
  color: #74747A;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.post-item, .post-item--last {
  display: inline-block;
  color: #888;
  padding: 5px 0;
}

.post-item:after {
  content: '|';
  padding: 5px;
}

.post-item--last:after {
  padding: 5px;
}

.post-items {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.post-description {
  padding: 1em 0;
  width: 100%;
}

.post-description h2 {
  font-size: 1em;
  padding: 0.5em 0;
  text-align: center;
}

.community-content {
  width: 90%;
  margin: 1em auto;
}

.single-community-item {
  border-bottom: 1px solid #DDD;
  color: #74747A;
  display: block;
  width: 100%;
}

.ctr-txt {
  text-align: center;
}

.single-error {
  color: red;
  display: block;
  margin-bottom: 0.5em;
}

.flash {
  width: 100%;
  margin: 0;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

/* Margins */
.sv-margin {
  margin: 0.5em auto;
}

/* Registration and Sessions pages */
.sessions-header {
  margin: 1em auto;
}

.sessions-notice {
  margin: 2em auto;
  width: 50%;
}

.sessions-rememberable {
  margin: 0 auto 1em auto;
}

.sessions-wrapper {
  margin: 2em auto;
  text-align: center;
  width: 100%;
}

.short-field--desktop {
  width: 80%;
}

/* Sections */
.article-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

/* Discussion form */
.comment-form--container {
  border: 2px solid #DDD;
  color: #7E7E7E;
  display: block;
  min-height: 20em;
}

.comment-form--textarea {
  height: 10em;
  padding: 0.75em;
}

.discussion-form {
  margin: 0 auto;
  padding: 1em 0.5em 0;
}

.discussion-form--cancel {
  color: #686868;
  font-weight: 700;
  margin-right: 1em;
}

.discussion-form--container {
  border: 2px solid #DDD;
  border-top: none;
  color: #7E7E7E;
  display: block;
  min-height: 30em;
}

.discussion-form--footer {
  border-radius: 0px 0px 3px 3px;
  padding: 0 2em 1em 2em;
  position: relative;
  text-align: right;
}

.discussion-form--header {
  background: none repeat scroll 0% 0% #75C4A3;
  border-shadow: 0px 1px 0px #FFF;
  border-radius: 3px 3px 0 0;
  color: #FFF;
  font-size: 1.5em;
  font-weight: bold;
  height: 3em;
  line-height: 1em;
  overflow: hidden;
  padding: 1em 0 1em 1em;
}

.discussion-form--input {
  border: 2px solid #DDD;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.standard-form--input {
  border: 2px solid #DDD;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em;
}

.discussion-form--label {
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.discussion-form--textarea {
  height: 15em;
  padding: 0.75em;
}

.discussion-form--wrapper {
  margin: 1em auto;
  width: 90%;
}

.discussion-guidelines {
  background-color: #EEDD96;
  padding: 1em;
}

.discussion-guidelines--header {
  text-align: center;
  padding: 1em;
  font-weight: bold;
}

.discussion-guidelines--list {
  padding: 1em;
}

/* Discussions */
.breadcrumb-wrapper {
  padding: 1em;
  background-color: #74747A;
  color: #FFF;
  border-radius: 5px 5px 0 0;
  border: 1px solid #74747A;
}

.breadcrumb-wrapper a {
  color: #FFF;
}

.discussion-body {
  padding: 0 0 1.5em 0;
}

.discussion-content {
  padding: 1em;
}

.discussion-details {
  font-style: italic;
  margin-right: 1em;
  padding-bottom: 1em;
}

.discussion-header {
  font-size: 1.5em;
}

.post-content {
  display: inline-block;
  /*margin-top: 2.75em;*/
  vertical-align: baseline;
}

.replies {
  font-size: 0.5em;
  display: block;
}

.single-discussion {
  background-color: #EEE;
}

.single-discussion--reply {
  width: 90%;
  margin: 2em auto;
  background-color: #EEE;
  border-radius: 2px;
}

.user-avatar {
  display: inline;
  height: 4em;
  margin-right: 1em;
  vertical-align: top;
  width: 4em;
}

.search-result {
  border: 1px solid #eee;
  margin: 1em auto;
  display: flex;
}

.search-result--article {
  min-width: 6em;
}

.search-result--article-wrapper {
  background-color: rgba(192,122,12,0.15);
}

.search-result--content {
  flex: 2;
  margin-left: 0.5em;
  padding: 0.5em;
}

.search-result--discussion {
  padding: 0.5em;
  min-width: 6em;
}

.search-result--discussion-wrapper {
  background-color: rgba(40,190,40,0.15);
}

.search-result--wrapper {
  align-items: center;
  display: flex;
  text-align: center;
}

.home-hero--dismiss-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .btm-space {
    margin-bottom: 1em;
  }

  /* Sessions pages */
  .short-field--desktop {
    width: 30%;
  }

  /* Homepage content */
  .kb-items {
    list-style: disc outside none;
    margin: 0;
    padding-left: 1em;
    padding-top: 1em;
  }

  .single-discussion--reply {
    width: 80%;
  }

  .greenbutton {
    background-color: rgb(150,190,115);
    border-radius: 3px;
    border: 0;
    color: #FFF;
    display: inline-block;
    padding: 0 20px;
    font-size: 1em;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
  }

  .discussion-form {
    margin: 0 auto;
    padding: 2em 2em 0;
  }

  .comment-count {
    color: #74747A;
    display: table-cell;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 86px;
    text-align: center;
    vertical-align: middle;
  }

  .community-container:before, .community-container:after {
    display: table;
    content: '';
    line-height: 0;
  }

  .community-container {
    display: inline-block;
    vertical-align: top;
    width: 70%;
  }

  .community-content {
    margin: 2em auto;
    width: 80%;
  }

  .discussion-form--wrapper {
    display: inline-block;
    margin: 2em;
    width: calc(60% - 3em);
  }

  .discussion-guidelines {
    background-color: #EEDD96;
    display: inline-block;
    margin: 2em 2em 0 0;
    padding: 1em;
    vertical-align: top;
    width: calc(40% - 3.5em);
  }

  .join-community-wrapper {
    display: block;
    float: right;
    list-style: none outside none;
    margin-right: 0.5%;
    margin-top: -1.5em;
  }

  .kb-description {
    width: 100%;
  }

  .kb-items > li {
    color: #313131;
    padding: 0.5em 5% 0.5em 0;
  }

  .post-description {
    display: table-cell;
    padding: 1em 0;
    max-width: inherit;
    width: 100%;
  }

  .post-description h2 {
    font-size: 1em;
    text-align: left;
  }

  .search-container {
    margin: 2em auto;
    width: 80%;
  }

  .single-community-item {
    margin-bottom: 0.75em;
    min-height: 80px;
  }

  .single-community-item--borderless {
    display: block;
    border-radius: 5px;
    min-height: 80px;
    width: 100%;
  }

  /* Homepage hero */
  .home-hero-message {
    background-color: #E2E2E2;
    border: 1px solid #8A8A8A;
    border-radius: 5px;
    clear: both;
    font-size:1.2em;
    margin: 0 10% 2em 10%;
    padding: 0.75em;
  }

  .home-hero--dismiss-btn {
    color: #000;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.25em;
    opacity: 0.3;
    text-decoration: none;
  }

  /* Homepage search */
  .home-search:after {
    clear: both;
  }
}