.ctr-txt {
  text-align: center;
}

.single-error {
  color: red;
  display: block;
  margin-bottom: 0.5em;
}

/* Margins */
.sv-margin {
  margin: 0.5em auto;
}

/* Registration and Sessions pages */
.sessions-header {
  margin: 1em auto;
}

.sessions-notice {
  margin: 2em auto;
  width: 50%;
}

.sessions-rememberable {
  margin: 0 auto 1em auto;
}

.sessions-wrapper {
  margin: 2em auto;
  text-align: center;
  width: 100%;
}

.short-field--desktop {
  width: 80%;
}

/* Sections */
.article-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

/* Discussion form */
.comment-form--container {
  border: 2px solid #DDD;
  color: #7E7E7E;
  display: block;
  min-height: 20em;
}

.comment-form--textarea {
  height: 10em;
  padding: 0.75em;
}

.discussion-form {
  margin: 0 auto;
  padding: 2em 2em 0;
}

.discussion-form--cancel {
  color: #B8B8B8;
  font-weight: 700;
  margin-right: 1em;
}

.discussion-form--container {
  border: 2px solid #DDD;
  border-top: none;
  color: #7E7E7E;
  display: block;
  min-height: 30em;
}

.discussion-form--footer {
  border-radius: 0px 0px 3px 3px;
  padding: 0 2em 1em 2em;
  position: relative;
  text-align: right;
}

.discussion-form--header {
  background: none repeat scroll 0% 0% #75C4A3;
  border-shadow: 0px 1px 0px #FFF;
  border-radius: 3px 3px 0 0;
  color: #FFF;
  font-size: 1.5em;
  font-weight: bold;
  height: 3em;
  line-height: 1em;
  overflow: hidden;
  padding: 1em 0 1em 1em;
}

.discussion-form--input {
  border: 2px solid #DDD;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.standard-form--input {
  border: 2px solid #DDD;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em;
}

.discussion-form--label {
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.discussion-form--textarea {
  height: 15em;
  padding: 0.75em;
}

.discussion-form--wrapper {
  display: inline-block;
  margin: 2em;
  width: calc(60% - 3em);
}

.discussion-guidelines {
  background-color: #EEDD96;
  display: inline-block;
  margin: 2em 2em 0 0;
  padding: 1em;
  vertical-align: top;
  width: calc(40% - 3.5em);
}

.discussion-guidelines--header {
  text-align: center;
  padding: 1em;
  font-weight: bold;
}

.discussion-guidelines--list {
  padding: 1em;
}

/* Discussions */
.breadcrumb-wrapper {
  padding: 1em;
  background-color: #74747A;
  border-radius: 5px 5px 0 0;
  border: 1px solid #74747A;
}

.breadcrumb-wrapper a {
  color: #FFF;
}

.btm-space {
  margin-bottom: 1em;
}

.discussion-body {
  padding: 0.5em 0 1.5em 0;
}

.discussion-content {
  padding: 0.5em 1em;
}

.discussion-details {
  font-style: italic;
  margin-right: 1em;
  padding-bottom: 1em;
}

.discussion-header {
  font-size: 1.5em;
}

.post-content {
  display: inline-block;
  margin-top: 2.75em;
  vertical-align: baseline;
}

.replies {
  font-size: 0.5em;
  display: block;
}

.single-discussion {
  background-color: #EEE;
}

.single-discussion--reply {
  width: 80%;
  margin: 2em auto;
  background-color: #EEE;
  border-radius: 2px;
}

.user-avatar {
  border-radius: 50%;
  display: inline;
  height: 5em;
  margin: 2em 2em 0 2em;
  vertical-align: top;
  width: 5em;
}

.nav--list li {
  list-style: none outside none;
}

.nav-wrapper {
  height: 4em;
  margin: 0 auto;
  text-align: center;
  width: 96%;
}

/* Homepage search */
.home-search {
  background-color: #EEE;
  border-bottom: 1px solid #DEDEDE;
  padding: 2em 0 4em 0;
}

.home-search--btn {
  background-color: #446EB0;
  border: 0;
  border-radius: 0 0.5em 0.5em 0;
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 1em;
  line-height: 3em;
  padding: 0 0.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 20%;
}

.home-search--btn:hover {
  background-color: #477CC0;
}

.home-search--input {
  border: 1px solid #CCC;
  border-radius: 0.25em 0 0 0.25em;
  color: #555;
  display: inline-block;
  font-family: 'Lato';
  font-size: 1em;
  line-height: 3em;
  padding: 0 1em;
  width: 80%;
}

.home-search--input:focus {
  border-radius: 0.25em;
  box-shadow: 0 0 1px #477CC0;;
}

.home-search--wrapper {
  margin-left: 10%;
  float: left;
}

.search-result {
  border: 1px solid #eee;
  margin: 1em auto;
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  /* Sessions pages */
  .short-field--desktop {
    width: 30%;
  }

  /* Header */
  .logo-wrapper {
    float: left;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    height: 4em;
    line-height: 2em;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .logo-wrapper:hover {
    background-color: #212121;
    text-decoration: none;
  }

  .nav--list {
    float: right;
  }

  .nav--li {
    display: block;
    float: left;
  }

  .nav--li a {
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    height: 4em;
    line-height: 2em;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .nav--li:hover {
    background-color: #212121;
  }

  .nav-wrapper {
    clear: both;
    margin: 0 auto;
    width: 80%;
  }

  /* Homepage content */
  .greenbutton {
    text-decoration: none;
    text-transform: uppercase;
  }

  .greenbutton:hover {
    background-color: rgb(180,190,115);
    cursor: pointer;
    text-decoration: none;
  }

  .kb-items {
    list-style: disc outside none;
    margin: 0;
    padding-left: 1em;
    padding-top: 1em;
  }

  ul.post-items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  .greenbutton {
    background-color: rgb(150,190,115);
    border-radius: 3px;
    border: 0;
    color: #FFF;
    display: inline-block;
    padding: 0 20px;
    font-size: 1em;
    line-height: 3em;
  }

  .categories {
    border: 1px solid #74747A;
    border-radius: 3px;
    display: inline-block;
    margin-left: 4%;
    width: 25%;
  }

  .category-wrap {
    padding: 0.5em;
    text-align: center;
  }

  .category-wrap ul {
    list-style: none outside none;
  }

  .category-wrap ul li {
    border-radius: 3px;
    margin: 2px auto;
    padding: 0.5em;
  }

  .active-category a {
    color: #FFF;
  }

  .active-category a:hover {
    text-decoration: none;
  }

  .active-category {
    background-color: rgb(115, 170, 190);
  }

  .category-wrap--active {
    background-color: rgb(115, 190, 180);
  }

  .category-wrap li:hover {
    background-color: rgb(150,190,115);
    cursor: pointer;
  }

  .category-wrap li:hover a {
    color: #FFF;
    text-decoration: none;
  }

  .category-wrap li:active {
    background-color: rgb(115, 170, 190);
    color: #FFF;
    cursor: pointer;
  }

  .comment-count {
    background-color: #74747A;
    border-radius: 0 3px 3px 0;
    color: #FFF;
    display: table-cell;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 86px;
    text-align: center;
    vertical-align: middle;
  }

  .community-container:before, .community-container:after {
    display: table;
    content: '';
    line-height: 0;
  }

  .community-container {
    display: inline-block;
    vertical-align: top;
    width: 70%;
  }

  .community-content {
    width: 80%;
    margin: 2em auto;
  }

  .join-community-wrapper {
    display: block;
    float: right;
    list-style: none outside none;
    margin-right: 0.5%;
    margin-top: -1.5em;
  }

  .kb-description {
    width: 100%;
  }

  .kb-items > li {
    color: #313131;
    padding: 0.5em 5% 0.5em 0;
  }

  .post-description {
    display: table-cell;
    padding: 1em 1.5em;
    max-width: inherit;
    width: 100%;
  }

  .post-description h2 {
    font-size: 1em;
  }

  .post-item, .post-item--last {
    display: inline-block;
    color: #888;
    padding: 5px 0;
  }

  .post-item:after {
    content: '|';
    padding: 5px;
  }

  .post-item--last:after {
    padding: 5px;
  }

  .search-container {
    margin: 2em auto;
    width: 80%;
  }

  .single-community-item {
    border: 1px solid #74747A;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(100, 100, 100, 0.15);
    display: block;
    margin-bottom: 0.75em;
    min-height: 80px;
    width: 100%;
  }

  .single-community-item--borderless {
    display: block;
    border-radius: 5px;
    min-height: 80px;
    width: 100%;
  }

  .right-action-nav {
    display: block;
    float: right;
    list-style: none outside none;
    margin-right: 10%;
    margin-top: -1.5em;
  }

  .right-action-nav-li {
    display: inline-block;
  }

  /* Homepage hero */
  .home-hero-message {
    clear:both;
    font-size:1.2em;
    margin: 0 10% 3em 10%;
  }

  /* Homepage search */
  .home-search:after {
    clear: both;
  }

  .home-search--form {
    margin: 0;
    width: 30em;
  }

  .home-search--wrapper {
    margin-top: -1.5em;
  }
}