.logo-wrapper {
  height: $nav-height;
  line-height: 1em;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  max-width: 9em;
  @media only screen and (min-width: $desktop) {
    color: $white;
    display: inline-block;
    float: left;
    font-weight: bold;
  }
  &:hover {
    background-color: $natural-black;
    text-decoration: none;
  }
}

.nav--li,
a.nav--li {
  color: $white;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 3em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  @media only screen and (min-width: $desktop) {
    display: inline-block;
    float: left;
    height: $nav-height;
    line-height: 3.25em;
    padding: 1em;
  }
  &:hover {
    background-color: $natural-black;
    cursor: pointer;
    text-decoration: none;
  }
}

.nav--list {
  @media only screen and (min-width: $desktop) {
    float: right;
  }
}

.nav--list li {
  list-style: none outside none;
}

.nav--logo {
  width: 9em;
  display: inline-block;
  vertical-align: middle;
}

.nav--logo img {
  height: 62px;
  max-width: 100%;
}

.nav-wrapper {
  @extend %center-margin;
  min-height: 4em;
  text-align: center;
  width: 96%;
  @media only screen and (min-width: $desktop) {
    clear: both;
    width: 80%;
  }
}