.hero-section {
  margin: 2em auto;
}

.hero-section--description {
  margin: 0.5em auto;
  text-align: center;
  width: 90%;
}

.hero-section--inner-wrapper {
  text-align:center;
  width: 100%;
}

.homepage-hero {
  @extend %center-margin;
  background-color: $lighter-grey;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  padding: 0.5em;
  width: 96%;
}

.homepage-hero-image {
  width: 75px;
  height: 75px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    align-items: center;
    display: flex;
    flex: 1;
    margin: 0.25em;
    min-height: 5em;
    text-align: center;
  }

  .hero-section--blurb {
    margin: 1em auto;
    width: 80%;
  }

  .hero-section-container {
    display: flex;
    margin: 1em auto;
    width: 80%;
  }

  .homepage-hero {
    border-radius: 0;
    margin-top: -2px;
    padding: 2em 0 0 0;
    width: 100%;
  }

  .homepage-hero-image {
    width: 150px;
    height: 150px;
  }
}