.admin-btn {
  border-radius: 3px;
  border: 0;
  color: #FFF;
  display: block;
  padding: 0 20px;
  font-size: 1em;
  line-height: 3em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 10em;
  text-align: center;
}

.admin-btn:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.admin-btn-wrapper {
  margin: 0.5em auto;
  width: 12em;
}

.btn-group {
  display: block;
  margin-bottom: 1em;
}

.green-btn {
  background-color: rgb(150,190,115);
}

.green-btn:hover {
  background-color: rgb(180,190,115);
}

.grey-btn {
  background-color: rgb(120,140,150);
}

.grey-btn:hover {
  background-color: rgb(120,170,170);
}

.red-btn {
  background-color: rgb(255,55,55);
}

.red-btn:hover {
  background-color: rgb(255,75,75);
}

@media only screen and (min-width: 768px) {
  .admin-btn {
    display: inline-block;
  }

  .admin-btn-wrapper {
    clear: both;
    float: right;
    margin: 0 0 1em 0;
    min-width: 12em;
  }
}