.home-search--btn {
  background-color: $blue-cta;
  border: 0;
  border-radius: 0 0.25em 0.25em 0;
  color: $white;
  cursor: pointer;
  float: right;
  font-size: 0.75em;
  line-height: $search-bar-height;
  padding: 0 0.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 20%;
  &:hover {
    background-color: $blue-cta-hover;
  }
  @media only screen and (min-width: $desktop) {
    border-radius: 0 0.5em 0.5em 0;
    font-size: 0.5em;
  }
  @media only screen and (min-width: 1150px) {
    font-size: 0.75em;
  }
}

.home-search--input {
  border: 1px solid $light-grey;
  border-radius: 0.25em 0 0 0.25em;
  color: $dark-grey;
  display: inline-block;
  font-family: 'Lato';
  font-size: 0.75em;
  line-height: $search-bar-height - 2px;
  padding: 0 1em;
  width: 100%;
  &:focus {
    border-radius: 0.25em 0 0 0.25em;
    box-shadow: 0 0 1px $blue-cta-hover;
  }
}

.home-search--wrapper {
  @media only screen and (min-width: $desktop) {
    float: left;
    margin-left: 1%;
    margin-top: 0.75em;
    width: 30%;
  }
  @media only screen and (min-width: 1150px) {
    width: 30em;
  }
}

.mobile-search-wrapper {
  width: 96%;
  margin: 1em auto;
}

.search-container {
  @media only screen and (min-width: $desktop) {
    margin: 2em auto;
    width: 80%;
  }
}