.home-search--btn {
  background-color: $blue-cta;
  border: 0;
  border-radius: 0 0.25em 0.25em 0;
  color: $white;
  cursor: pointer;
  float: right;
  font-size: 0.75em;
  line-height: $search-bar-height;
  padding: 0 0.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 20%;
}

.home-search--btn:hover {
  background-color: $blue-cta-hover;
}

.home-search--input {
  border: 1px solid $light-grey;
  border-radius: 0.25em 0 0 0.25em;
  color: $dark-grey;
  display: inline-block;
  font-family: 'Lato';
  font-size: 0.75em;
  line-height: $search-bar-height - 2px;
  padding: 0 1em;
  width: 100%;
}

.home-search--input:focus {
  border-radius: 0.25em 0 0 0.25em;
  box-shadow: 0 0 1px $blue-cta-hover;;
}

.mobile-search-wrapper {
  width: 90%;
  margin: 1em auto;
}

@media only screen and (min-width: 768px) {
  .home-search--btn {
    border-radius: 0 0.5em 0.5em 0;
    font-size: 0.5em;
    line-height: $search-bar-height;
  }

  .home-search--wrapper {
    margin-left: 1%;
    float: left;
    margin-top: 0.75em;
    width: 30%;
  }
}

@media only screen and (min-width: 1150px) {
  .home-search--wrapper {
    width: 30em;
  }

  .home-search--btn {
    font-size: 0.75em;
    line-height: $search-bar-height;
  }
}