.tt-dropdown-menu {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin-top: 6px;
  padding: 8px 0;
  width: 100%;
  @media only screen and (min-width: $desktop) {
    margin-top: 12px;
    width: 422px;
  }
}

.tt-hint {
  color: #999;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-query,
.tt-hint {
  font-size: 0.75em;
  line-height: $search-bar-height - 2px;
  border: 1px solid #ccc;
  outline: none;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion.tt-cursor {
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor a {
  color: $white;
}

.twitter-typeahead {
  width: 80%;
}

.typeahead-results-header {
  color: $natural-black;
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}